.contenido {
    margin: 1em 5em 1em 5em;
    height: 50em;
}
#busqueda {
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
}
#busqueda input {
    border-radius: 5em;
    height: 3em;
    width: calc(20em + 1vw);
    border: 1px solid white;
    padding-left: 3em;
    font-family: 'Inter', sans-serif;
}
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.filter:hover {
    color: yellow;
}
.selected {
    color: yellow;
}

/* ######################################
 *               PRINCIPAL
 * ###################################### */
#principal {
    margin-top: 2em;
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
}
#principal .p-element {
    float: left;
    height: 20em;
    margin-bottom: 2em;
}
.entries {
    width: 80%;
}
.right-menu {
    width: 15%;
    padding: 1em;
    padding-left: 2em;
    border-left: 2px solid white;
}
.right-menu div {
    height: 2em;
    cursor: pointer;
}
.right-menu div:hover {
    color: yellow;
    transform: scale(1.1);
    transition: 0.5s;
}
/* ######################################
 *               ENTRADAS
 * ###################################### */

 /* ######################################
 *               LOGEADO
 * ###################################### */
.add-entry {
    border-bottom: 1px solid white;
    width: 95%;
    height: auto;
}
.add-entry textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 99%;
    height: 7em;
    color: white;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}
.logged {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 1fr;
}
.logged img {
    border-radius: 50%;
}
.user-content {
    height: 8em;
}
.prof-type {
    color: yellow;
}
.user-image {
    display: flex;
    justify-content: center;
    height: 7em;
}
.textarea {
    width: 99%;
}
.upload-div {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1em;
}
.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: small;
    border-radius: 5em;
    width: 80%;
    height: 2em;
    background-color: white;
    color: #69306D;
    cursor: pointer;
}
/* ######################################
 *               NO LOGEADO
 * ###################################### */
.not-logged {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7em;
}
.not-logged div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5em;
    width: 30%;
    height: 2em;
    background-color: white;
    color: #69306D;
    cursor: pointer;
}

/* ######################################
 *    CONTENEDOR ENTRADAS Y USUARIOS
 * ###################################### */
.entry-container, #user-container {
    margin: 1em 1em 1em 0;
    padding-right: 1.5em;
    height: 30em;
    overflow-y: scroll;
}
.entry-container::-webkit-scrollbar, #user-container::-webkit-scrollbar {
    width: 0.5em;
}

.entry-container::-webkit-scrollbar-track, #user-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #B6B6B6;
    border-radius: 10em;
}

.entry-container::-webkit-scrollbar-thumb, #user-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10em;
}
.entry-div, .user-div {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 0.5fr;
    max-height: 30em;
    height: fit-content;
    padding-top: 1em;
    border-bottom: 1px solid white;
}
.entry-div {
    min-height: 8em;
    padding-bottom: 1em;
}
.user-div {
    min-height: 6em;
}

.entry-div img, .user-image img {
    border-radius: 50%;
}
.user-image {
    height: fit-content;
}
.entry-content {
    padding-left: 0.5em;
}
.entry-user {
    font-weight: bold;
}
.entry-username {
    font-size: small;
    opacity: 50%;
}
.entry-text, .user-biography {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 0.9em;
}
.user-biography {
    opacity: 70%;
}
.icon {
    display: flex;
    justify-content: end;
    font-size: large;
}
#user-image-element, .entry-user, .entry-username, .icon i, .user-name, .user-username {
    cursor: pointer;
}
.hidden {
    display: none;
}

/* ######################################
 *             ALGUNOS ERRORES
 * ###################################### */
.no-users {
    text-align: center;
    /* background-image: url('../imgs/user-not-found.png'); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 10em;
    opacity: 50%;
}
