.contenido {
    margin: 1em 5em 1em 5em;
    height: 50em;
}
#busqueda {
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr 1.3fr 2fr;
}
#busqueda input {
    border-radius: 5em;
    height: 3em;
    width: calc(20em + 1vw);
    border: 1px solid white;
    padding-left: 3em;
    font-family: 'Inter', sans-serif;
}
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    padding: 0 0.5em 0 0.5em;
}
.filter:hover {
    color: yellow;
}
.selected {
    color: yellow;
}

/* ######################################
 *               PRINCIPAL
 * ###################################### */
 #principal {
    margin-top: 2em;
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
}
#principal .p-element {
    float: left;
    height: 20em;
    margin-bottom: 2em;
}
#users {
    width: 80%;
}
.right-menu {
    width: 15%;
    padding: 1em;
    padding-left: 2em;
    border-left: 2px solid white;
}
.right-menu div {
    height: 2em;
    cursor: pointer;
}
.right-menu div:hover {
    color: yellow;
    transform: scale(1.1);
    transition: 0.5s;
}

/* ######################################
 *               USUARIOS
 * ###################################### */
#user-container {
    margin: 1em 1em 1em 0;
    padding-right: 1.5em;
    height: 30em;
    overflow-y: scroll;
}

#user-container::-webkit-scrollbar { width: 0.5em; }

#user-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #B6B6B6;
    border-radius: 10em;
}

#user-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10em;
}
.user-div {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr 0.5fr;
    max-height: 30em;
    min-height: 6em;
    height: fit-content;
    padding-top: 1em;
    border-bottom: 1px solid white;
}
.user-image img { border-radius: 50%; }
.user-image { height: fit-content; }
.user-biography {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 0.9em;
}
.user-biography { opacity: 70%; }
.icon {
    display: flex;
    justify-content: end;
    font-size: large;
}
#user-image-element, .icon i, .user-name, .user-username {
    cursor: pointer;
}
.user-content {
    height: 8em;
}
.user-image {
    display: flex;
    justify-content: center;
    height: 7em;
}
.prof-type {
    color: yellow;
}
