body {
    background-color: #432745;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0;
}
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10em;
}
h1 {
    font-family: 'Oooh Baby', cursive;
}

/* #######################################
 *                 HEADER
 * ####################################### */
header {
    background-color: #69306D;
    display: grid;
    grid-template-columns: 150px 5fr 1fr;
    padding: 1px;
    height: 5em;
    padding-left: 4em;
    padding-right: 5em;
}
header div {
    margin-left: 1em;
}
header h1 {
    cursor: pointer;
}
.title {
    width: 8em;
}
.login {
    display: flex;
    justify-content: end;
}
.element, .element div {
    display: flex;
    align-items: center;
}
.menu div {
    justify-content: center;
    height: 95%;
    width: 5em;
    border-bottom: 3px solid #69306D;
    cursor: pointer;
}
.menu div:hover {
    height: 95%;
    border-bottom: 3px solid yellow;
    /* transform: scale(1.2);
    transition: 0.5s; */
}
.login_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 5em;
    border-bottom: 3px solid #69306D;
    cursor: pointer;
}
.login_link:hover {
    border-bottom: 3px solid yellow;
}
a {
    color: white;
    text-decoration: none;
}

/* #######################################
 *              HEADER LOGED
 * ####################################### */
.user {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.user div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user img {
    border-radius: 50%;
    cursor: pointer;
}
.user a:hover img {
    border: 3px solid yellow;
}
.user i {
    font-size: 1.5em;
    cursor: pointer;
}
.user i:hover {
    color: yellow;
}

/* #######################################
 *                 FOOTER
 * ####################################### */
footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #69306D;
    height: fit-content;
    min-height: 15em;
    padding-left: 5em;
    padding-right: 5em;
    clear: both;
}
footer div {
    padding: 0.5em;
}
.about-footer div, .quick-links-footer {
    font-size: 1.3em;
}
.about-footer span {
    opacity: 80%;
}
.link-f {
    font-size: 0.7em;
    opacity: 80%;
}

/* #######################################
 *                 RESPONSIVE
 * ####################################### */
@media(max-width: 640px) {

    /* ------------ HEADER ------------ */
    header {
        grid-template-columns: 0.5fr 1fr 1fr;
        padding-left: 0;
        padding-right: 0;
        height: 5em;
    }
    header .title {
        display: flex;
        justify-content: center;
        margin-left: 0.5em;
    }
    header .element, header .element div {
        margin: 0;
        padding: 0;
    }
    header .element div {
        font-size: 0.8em;
    }
    header h1 {
        font-size: 1.3em;
        padding: 0;
        margin: 0;
    }
    header .user, header .user div {
        margin: 0;
        padding: 0;
    }

    /* ------------ FOOTER ------------ */
    footer {
        display: block;
        min-height: 15em;
        padding: 0;
    }
    footer div {
        padding: 0.5em;
    }
    .about-footer, .quick-links-footer {
        text-align: center;
    }
    .about-footer span {
        font-size: 0.9em;
    }
    .about-footer div, .quick-links-footer {
        font-size: 1em;
    }
    .about-footer span {
        font-size: 0.8em;
    }
    .link-f {
        font-size: 0.7em;
        opacity: 80%;
    }
}
