<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../css/about.css">
    
</head>
<body>

    <!-- HEADER -->
    <div class="header"></div>

    <!-- CONTENIDO -->
    <div class="contenido">

       <div class="cont-title">We believe in people interests</div>
       <div class="content">"Let the world know what you are thinking!"</div>
       <div class="content">"Spread information across all countries!"</div>

       <div class="img-people"></div>

       <div class="cont-title">Learn more!</div>
       <div class="content">"We want to help you take interest in diverse topics!"</div>
       <div class="content">"Share with others your useful ideas"</div>

       <div class="img-gaming"></div>

       <div class="cont-title">~Be creative~</div>

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div class="footer"></div>

    <script src="../js/addElements.js"></script>
</body>
</html>