<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <!-- HEADER -->
    <div class="header"></div>

    <!-- CONTENIDO -->
    <div class="contenido">

        <!-- Búsqueda -->
        <div id="busqueda">
            <div><input type="text" name="search" id="search" placeholder="Look for users..."></div>
            <div class="filter">All users</div>
            <div class="filter start">Following</div>
            <div></div>
        </div>
        <!-- Fin búsqueda -->

        <!-- Principal -->
        <div id="principal">

            <!-- Entradas -->
            <div class="p-element entries">
                <div class="add-entry">

                    <!-- Si está loggeado -->
                    <div class="logged">
                        <div class="user-image"><img src="../imgs/Gray.png" alt="User image" width="70" height="70"></div>
                        <div class="textarea"><textarea name="entry" id="user-entry" placeholder="What is on your mind today?" maxlength="1000"></textarea></div>
                        <div class="upload-div">
                            <div class="upload">Upload entry</div>
                        </div>
                    </div>

                    <!-- Si NO está loggeado -->
                    <!-- <div class="not-logged">
                        <div>Log In to write an entry</div>
                    </div> -->
                </div>
            </div>
            <!-- Fin entradas -->

            <!-- Menú derecha -->
            <div class="p-element right-menu">
                <a href="home.html"><div><i class="bi bi-house-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;Home</div></a>
                <div><i class="bi bi-gear-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings</div>
                <a href="" class="profile-link"><div><i class="bi bi-person-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</div></a>
            </div>
            <!-- Fin menú derecha -->

        </div>
        <!-- Fin principal -->

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div class="footer"></div>

    <script src="../js/addElements.js"></script>
    <script>
        let link = document.querySelector('.profile-link');
        if (localStorage.getItem('webToken') != null) {
            link.href = 'user.html';
        } else {
            link.href = 'login.html';
        }
    </script>
</body>
</html>