<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../css/landing.css">
</head>
<body>

    <!-- HEADER -->
    <div class="header"></div>

    <!-- CONTENIDO -->
    <div class="contenido">

        <!-- IMAGEN -->
        <div class="landingImg">
            <div class="opacity"><!-- opacidad --></div>
        </div>
        <!-- FIN IMAGEN -->

        <!-- SEPARADOR -->
        <div class="separador">
            <h1>Want to know the latest news?</h1>
        </div>
        <!-- FIN SEPARADOR -->

        <!-- TEMAS -->
        <div class="temas">
            <div class="tema1">
                <div class="opacity"></div>
                <div class="texto">SPORTS</div>
            </div>
            <div class="tema2">
                <div class="opacity"></div>
                <div class="texto">CONFERENCES</div>
            </div>
        </div>
        <!-- FIN TEMAS -->

        <!-- SEPARADOR -->
        <div class="separador">
            <h1>See what your friends are up to?</h1>
        </div>
        <!-- FIN SEPARADOR -->

        <!-- SOCIAL -->
        <div class="social">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        <!-- FIN SOCIAL -->

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div class="footer"></div>

    <script src="../js/addElements.js"></script>
</body>
</html>