<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <!-- HEADER -->
    <div class="header"></div>

    <!-- CONTENIDO -->
    <div class="contenido">

        <!-- LOGIN DIV -->
        <div id="login">
            <div class="registerDiv">
                <div class="r-i1">Don't have an account yet?</div>
                <div class="r-i2"><a href="register.html">Click here to sign up</a></div>
            </div>
            <hr>
            <div class="input-div">
                <div class="inp-item"><input type="text" name="username" id="user_name" placeholder="Username"></div>
                <div class="inp-item"><input type="text" name="userpass" id="user_pass" placeholder="Password"></div>
                <div class="inp-item">
                    <div id="login-bt">Log In</div>
                </div>
            </div>
        </div>
        <!-- FIN LOGIN DIV -->

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div class="footer"></div>

    <script src="../js/addElements.js"></script>
</body>
</html>