<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn - Register</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../css/log_reg.css">
</head>
<body>

    <!-- HEADER -->
    <div class="header"></div>

    <!-- CONTENIDO -->
    <div class="contenido">

        <!-- REGISTER DIV -->
        <div id="register">
            <div class="registerDiv">
                <div class="r-i1">Already have an account?</div>
                <div class="r-i2"><a href="login.html">Sign in</a></div>
            </div>
            <hr>
            <div class="input-div">
                <div class="inp-item"><input type="text" name="username" id="username" placeholder="Username" maxlength="20"></div>
                <span class="username-alert red" style="display: none;"></span>
                <div class="inp-item"><input type="text" name="name" id="name" placeholder="Name" maxlength="25"></div>
                <span class="name-alert red" style="display: none;"></span>
                <div class="inp-item"><input type="email" name="email" id="user_mail" placeholder="Email" maxlength="50"></div>
                <span class="mail-alert red" style="display: none;"></span>
                <div class="inp-item"><input type="text" name="birthday" id="user_birth" placeholder="Birthday Ex: 1990/01/01"></div>
                <span class="birth-alert red" style="display: none;"></span>
                <div class="inp-item profess-select">
                    <div>Is this a professional account?</div>
                    <div class="p-selection">
                        <div class="p-element p1 selected">YES</div>
                        <div class="p-element p2">NO</div>
                    </div>
                </div>
                <div class="inp-item professional"><input type="text" name="about" id="about" placeholder="What is this professional account about? Ex: Cars, Technology, etc." maxlength="30"></div>
                <span class="about-alert red" style="display: none;"></span>
                <div class="inp-item pass-div"><input type="password" name="password" id="user_pass" placeholder="Password" data-icon="pass-icon" maxlength="35"><i class="bi bi-eye-slash pass-icon" data-icon="pass-icon"></i></div>
                <span class="password-alert red" style="display: none;"></span>
                <div class="inp-item r-pass-div"><input type="password" name="password" id="pass_repeat" placeholder="Repeat password" data-icon="repeat-icon" maxlength="35"><i class="bi bi-eye-slash pass-icon" data-icon="repeat-icon"></i></div>
                <span class="r-password-alert red" style="display: none;"></span>
                <div class="inp-item">
                    <div id="register-bt">Sign In</div>
                </div>
            </div>
        </div>
        <!-- FIN REGISTER DIV -->

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div class="footer"></div>

    <script src="../js/addElements.js"></script>
    <script src="../js/register.js"></script>
</body>
</html>