<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn - Settings</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Links css -->
    <link rel="stylesheet" href="../css/settings.css">

</head>
<body>

    <!-- HEADER -->
    <div class="header"></div>

    <!-- CONTENIDO -->
    <div class="contenido">
        
        <!-- Contenedor de cuenta -->
        <div class="account">
            <div class="text text-account"><img src="../imgs/icons/user.png" alt="User" class="icon">Account</div>
            <div class="account-content">

                <!-- Private div -->
                <!-- <div class="private">
                    <div>Set to private account</div>
                    <div id="private-btn">
                        <div class="set-private-btn">
                            <div class="btn-ball"></div>
                        </div>
                    </div>
                </div> -->
                <!-- Fin private div -->

                <!-- Password div -->
                <div class="password-div">
                    <div class="password-text">Change password</div>
                    <div class="inputs-pass">
                        <div class="input-item it1">
                            <div><input type="password" name="current-password" id="current-password" placeholder="Current password"></div>
                            <div class="save-pass"><div id="save-pass-btn">Save changes</div></div>
                        </div>
                        <div class="input-item"><input type="password" name="new-password" id="new-password" placeholder="New password"></div>
                        <div class="input-item"><input type="password" name="repeat-password" id="repeat-password" placeholder="Repeat new password"></div>
                    </div>
                </div>
                <!-- Fin password div -->

            </div>
        </div>
        <!-- Fin de contenedor de cuenta -->

        <div class="about">
            <div class="text text-about"><img src="../imgs/icons/info.png" alt="User" class="icon">About</div>
            <div class="about-content hidden">
                <div class="cont-title">We believe in people interests</div>
                <div class="content">"Let the world know what you are thinking!"</div>
                <div class="content">"Spread information across all countries!"</div>

                <div class="img-people"></div>

                <div class="cont-title">Learn more!</div>
                <div class="content">"We want to help you take interest in diverse topics!"</div>
                <div class="content">"Share with others your useful ideas"</div>

                <div class="img-gaming"></div>

                <div class="cont-title">~Be creative~</div>
            </div>
        </div>

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div class="footer"></div>

    <script src="../js/addElements.js"></script>
    <script src="../js/settings.js"></script>
</body>
</html>