<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn - [Usuario]</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Iconos de Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Estilos -->
    <link rel="stylesheet" href="../css/user.css">

</head>
<body>

    <!-- HEADER -->
    <div class="header"></div>

    <!-- CONTENIDO -->
    <div class="contenido">

        <div class="back"><a href="home.html"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;&nbsp;User</a></div>

        <!-- Div principal -->
        <div id="principal">

            <div class="p-element left-info">
                <div class="p-contenido">

                    <!-- Banner -->
                    <div id="banner">
                        <div id="user-photo"></div>
                    </div>
                    <!-- Fin banner -->

                    <div class="edit-div">
                        <div id="edit-bt">Edit profile</div>
                    </div>

                    <div class="user-info">
                        <div>
                            <div class="bold user-profile"></div>
                            <div class="small username"></div>
                        </div>
                        <div class="follow-info">
                            <div class="bold">Following</div>
                            <div class="small following"></div>
                        </div>
                        <div class="follow-info">
                            <div class="bold">Followers</div>
                            <div class="small followers"></div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Menú derecha -->
            <div class="p-element right-menu">
                <a href="home.html"><div><i class="bi bi-house-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;Home</div></a>
                <div><i class="bi bi-gear-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings</div>
                <a href="home.html" class="profile-link"><div><i class="bi bi-person-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</div></a>
            </div>
            <!-- Fin menú derecha -->

        </div>
        <!-- Fin div principal -->

    </div>
    <!-- FIN CONTENIDO -->

    <!-- FOOTER -->
    <div class="footer"></div>

    <script src="../js/addElements.js"></script>
    <script src="../js/user.js"></script>
    <script>
        let link = document.querySelector('.profile-link');
        if (localStorage.getItem('webToken') != null) {
            link.href = 'user.html';
        } else {
            link.href = 'login.html';
        }
    </script>
</body>
</html>