<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn</title>
</head>
<body>
    <footer>
        <div class="about-footer">
            <div>ABOUT</div>
            <span>
                We are a small social media, who specializes on creating content
                for people to enjoy. This web page was made using JavaScripy and PHP
                primarly. We hope you enjoy this page as much as we enjoyed creating 
                it!
                If you have any questions please contact the following number: +99 999999999
            </span>
        </div>
        <div class="quick-links-footer">
            <div>QUICK LINKS</div>
            <a href="home.html"><div class="link-f">Home</div></a>
            <a href="login.html" id="login-link"><div class="link-f">Log In</div></a>
            <a href="register.html" id="register-link"><div class="link-f">Register</div></a>
            <a href="about.html"><div class="link-f">About</div></a>
        </div>
    </footer>
</body>
</html>