<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FillMeIn</title>

    <!-- Icono -->
    <link rel="icon" href="../imgs/icons/F.png">

    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Homenaje&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="element title"><a href="landing.html"><h1>FillMeIn</h1></a></div>
        <div class="element menu">
            <div>
                <a href="home.html">Home</a>
            </div>
            <div>About</div>
        </div>
        <div class="login">
            <a href="login.html">
                <div class="login_link">Login</div>
            </a>
        </div>
    </header>
</body>
</html>